In [28]:
import pandas as pd

demographics = "C:/Beam/data_pack/demographics.csv"
cc = "C:/Beam/data_pack/cc.csv"
kPlus = "C:/Beam/data_pack/kplus.csv"
credit_debit = "C:/Beam/data_pack/Credit-debit.csv"

demographics = pd.read_csv(demographics)
cc = pd.read_csv(cc)
kPlus = pd.read_csv(kPlus)
cd = pd.read_csv(credit_debit)

In [29]:
demographics.head()

   id  cc_no  gender  ocp_cd  age
0   1      1       2     9.0    5
1   1  98397       2     9.0    5
2   2      2       2     3.0    4
3   2   9740       2     3.0    4
4   3      3       2     1.0    3

In [30]:
cc.head()

   cc_no      pos_dt  cc_txn_amt
0  37069  2018-05-10        5000
1  37069  2018-06-04       12000
2  37069  2018-04-03        5000
3  37069  2018-04-22        1600
4  37069  2018-01-21        5000

In [31]:
cd.head()

,Card No.,Credit,Debit,User id
0,37069,"[5000, 0, 0, 6600, 5000, 12000]","[0, 0, 0, 0, 0, 3500]",1
1,37201,"[1900, 8100, 8600, 2700, 2200, 2200]","[7400, 19600, 23500, 63400, 24900, 71200]",2
2,39751,"[0, 0, 0, 0, 20000, 0]","[15800, 14700, 20200, 49900, 16400, 22700]",3
3,66095,"[21800, 6700, 0, 1100, 21100, 5300]","[1056700, 859000, 715300, 1305500, 729000, 141...",4
4,9563,"[5800, 10600, 21000, 21200, 6200, 39100]","[0, 0, 0, 0, 0, 0]",5

In [32]:
# Total credit cards for each user
unique_usr_id = demographics["id"].unique()[0:5]
usr_id = demographics["id"]
cc_no = demographics["cc_no"]
card_no = cd["Card No."]
new_card_no = []
total_spending = []

for i in unique_usr_id:
    # Find indices of each usr_id
    indices = usr_id[usr_id == i].index.tolist()
    cards = []
    for idx in indices:
        cards.append(cc_no[idx])    # Now, we get all card numbers that user has
    
    new_card_no.append(cards)
    spending = []

    for c in cards:
        index = card_no[card_no == c].index.tolist()
        for idx in index:
            spending.append(cd["Credit"][idx])
            
    total_spending.append(spending)

print("Finish")

Finish

In [33]:
print("card_no", new_card_no)

card_no [[1, 98397], [2, 9740], [3], [4, 86813], [5]]

In [34]:
print("total", total_spending)

total [['[4700, 20000, 0, 0, 10000, 10000]'], ['[0, 0, 4600, 18700, 1600, 2000]', '[6600, 5700, 4100, 11700, 0, 10200]'], [], ['[0, 0, 0, 0, 300000, 240000]', '[0, 0, 0, 230000, 0, 0]'], ['[7000, 5000, 0, 0, 0, 0]']]

In [35]:
try:
    data = {
        "cc_no": new_card_no,
        "among": total_spending,
        "usr_id": unique_usr_id.tolist()
    }
    df_data = pd.DataFrame.from_dict(data)

    export_csv = df_data.to_csv (r'Credit.csv', index = None, header=True)
    
    print("Try exported")

except:
    data = {
        "usr_id": unique_usr_id
    }
    df_data = pd.DataFrame.from_dict(data)
    export_csv = df_data.to_csv (r'usr_id.csv', index = None, header=True)
    
    data = {
        "cc_no": new_card_no
    }
    df_data = pd.DataFrame.from_dict(data)
    export_csv = df_data.to_csv (r'cc_no_.csv', index = None, header=True)
    
    data = {
        "among": total_spending
    }
    df_data = pd.DataFrame.from_dict(data)
    export_csv = df_data.to_csv (r'among.csv', index = None, header=True)
    
    print("Except")

Try exported